# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints
*-checkpoint.ipynb

# Intermediate PySpark Data & Parquet Checkpoints
sales_long_parquet/
model_features_parquet/
sarima_results_30.csv

# Environments & IDEs
.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
.DS_Store
